/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

body {
    font-family: 'Roboto',sans-serif;
    color: #333333;
    background-color: #e3e3e3;
    margin: 0;
}

a {
    color: #ff6602;
    font-weight: 700;
    text-decoration: none;
}